annotated-type
anyio
attrs
certifi
cffi
charset-normalizer
colorama
distro
h11
httpcore
httpx
idna
jiter
MouseInfo
openai
outcome
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
pytweening
requests
selenium
setuptools
sniffio
sortedcontainers
tqdm
trio
trio-websocket
typing_extensions
undetected-chromedriver
urllib3
websocket-client
websockets
wsproto
